.env
# Code Climate files
coverage/
# Node.js files
node_modules/
# Hardhat files
cache/
uncompiled/
# Python package files
build/
venv/
dist/
ocean_contracts.egg-info/
**/__init__.py
#hardhat debug files
**/.dbg.json
