coverage/
# Node.js files
node_modules
.env
# Hardhat files
cache
uncompiled/
# Python package files
build/
venv/
dist/
ocean_contracts.egg-info/
addresses/__init__.py
addresses/ocean_contracts.egg-info/