

name: Slither

on: [push, pull_request]

jobs:
  slither:
    name: Slither Analysis
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['12.x']

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - name: npm install, build, and test
        run: |
          npm install
          npm run compile
        env:
          INFURA_KEY:  ${{ secrets.INFURA_KEY }}
          COINMARKETCAP_KEY: ${{ secrets.COINMARKETCAP_KEY }}
          POLYGON_TEST_MNEMONIC: ${{ secrets.POLYGON_TEST_MNEMONIC }}
      - name: Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Install node dependencies
        run: yarn
      - name: Install slither
        run: |
          python -m pip install --upgrade pip
          pip3 install slither-analyzer
      - name: Run slither
        run: slither . --sarif slither.sarif || true
        env:
          INFURA_KEY:  ${{ secrets.INFURA_KEY }}
          COINMARKETCAP_KEY: ${{ secrets.COINMARKETCAP_KEY }}
          POLYGON_TEST_MNEMONIC: ${{ secrets.POLYGON_TEST_MNEMONIC }}
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "slither.sarif"